#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        // @formatter:off
        default_layer {
            //              -----------------------------------------------------------------------------------    -----------------------------------------------------------------------------------
            //  -----------|     ~     |     1     |     2     |     3     |     4     |     5     |    SL     ||||     SR    |     6     |     7     |     8     |     9     |     0     |     -     |-----------
            // |    LU     |    tab    |     q     |     w     |     e     |     r     |     t     |_____[_____||||_____]_____|     y     |     u     |     i     |     o     |     p     |     =     |    LU     |
            // |____LD_____|    esc    |     a     |     s     |     d     |     f     |     g     |           ||||           |     h     |     j     |     k     |     l     |     ;     |     '     |____LD_____|
            //             |   shift   |     z     |     x     |     c     |     v     |     b     |-----------||||-----------|     n     |     m     |     ,     |     .     |     /     |   shift   |
            //             |____win____|_____+_____|_____-_____|___*/alt___|___\/ctl___|____bsp____|____del____||||____alt____|____ent____|____spc____|____D0_____|_____PU____|_____PD____|____D4_____|
            bindings = <
                             &kp GRAVE     &kp N1      &kp N2     &kp N3      &kp N4      &kp N5      &none          &none        &kp N6      &kp N7     &kp N8       &kp N9      &kp N0    &kp MINUS
                   &none     &kp TAB       &kp Q       &kp W      &kp E       &kp R       &kp T      &kp LBKT        &kp RBKT     &kp Y       &kp U      &kp I        &kp O       &kp P     &kp EQUAL     &none
                 &kp CAPS    &kp ESC       &kp A       &kp S      &kp D       &kp F       &kp G                                   &kp H       &kp J      &kp K        &kp L      &kp SEMI   &kp APOS      &none
                             &kp LSHFT     &kp Z       &kp X      &kp C       &kp V       &kp B                                   &kp N       &kp M     &kp COMMA    &kp DOT     &kp FSLH   &kp RSHFT
                             &kp LWIN   &kp KP_PLUS &kp KP_MINUS &kp KP_ASTERISK &kp LCTRL &kp BSPC   &kp DEL        &kp LALT    &kp RET    &kp SPACE     &none      &kp PG_UP   &kp PG_DN   &none
            >;
            display-name = "Default";
            // @formatter:on
        };
    };
 };