#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        // @formatter:off
        default_layer {
            //              -----------------------------------------------------------------------------------    -----------------------------------------------------------------------------------
            //  -----------|     ~     |     1     |     2     |     3     |     4     |     5     |           ||||           |     6     |     7     |     8     |     9     |     0     |     -     |-----------
            // |    LU     |    tab    |     q     |     w     |     e     |     r     |     t     |_____[_____||||_____]_____|     y     |     u     |     i     |     o     |     p     |     =     |    LU     |
            // |____CAPS___|    esc    |     a     |     s     |     d     |     f     |     g     |           ||||           |     h     |     j     |     k     |     l     |     ;     |     '     |____LD_____|
            //             |   shift   |     z     |     x     |     c     |     v     |     b     |-----------||||-----------|     n     |     m     |     ,     |     .     |     /     |   shift   |
            //             |____win____|_____+_____|_____-_____|___*/alt___|___\/ctl___|____bsp____|____del____||||____alt____|____ent____|____spc____|____HOME___|_____PU____|_____PD____|____END____|
            bindings = <
                             &kp GRAVE     &kp N1      &kp N2     &kp N3      &kp N4      &kp N5      &none          &none        &kp N6      &kp N7     &kp N8       &kp N9      &kp N0    &kp MINUS
                   &mo 1     &kp TAB       &kp Q       &kp W      &kp E       &kp R       &kp T      &kp LBKT        &kp RBKT     &kp Y       &kp U      &kp I        &kp O       &kp P     &kp EQUAL     &none
                 &kp CAPS    &kp ESC       &kp A       &kp S      &kp D       &kp F       &kp G                                   &kp H       &kp J      &kp K        &kp L      &kp SEMI   &kp APOS      &to 2
                             &kp LSHFT     &kp Z       &kp X      &kp C       &kp V       &kp B                                   &kp N       &kp M     &kp COMMA    &kp DOT     &kp FSLH   &kp RSHFT
                            &kp LWIN &kp KP_PLUS &kp KP_MINUS &mt LALT KP_ASTERISK &mt LCTRL BSLH &kp BSPC &kp DEL   &kp LALT    &kp RET    &kp SPACE    &kp HOME    &kp PG_UP   &kp PG_DN   &kp END
            >;
            display-name = "Default";
        };

        function {
            //              -----------------------------------------------------------------------------------    -----------------------------------------------------------------------------------
            //  -----------|           |    F1     |    F2     |    F3     |    F4     |    F5     |           ||||           |    F6     |    F7     |    F8     |    F9     |    F10    |    F11    |-----------
            // |    LU     |           |           |           |           |           |           |___________||||___________|           |           |           |           |           |    F12    |    LU     |
            // |____LD_____|           |           |           |           |           |           |           ||||           |           |           |           |           |           |           |____LD_____|
            //             |           |           |           |           |           |           |-----------||||-----------|           |           |           |           |           |           |
            //             |___________|___________|___________|___________|___________|___________|___________||||___________|___________|___________|___________|___________|___________|___________|
            bindings = <
                               &trans      &kp F1      &kp F2     &kp F3      &kp F4      &kp F4      &none          &none        &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
                   &none       &trans      &trans      &trans     &trans      &trans      &trans      &trans         &trans       &trans      &trans      &trans      &trans      &trans      &kp F12     &none
                   &none       &trans      &trans      &trans     &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &none
                               &trans      &trans      &trans     &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans
                               &trans      &trans      &trans     &trans      &trans      &trans      &trans         &trans       &trans      &trans      &trans      &trans      &trans      &trans
            >;
            display-name = "F-Row";
        };

        keypad {
            //              -----------------------------------------------------------------------------------    -----------------------------------------------------------------------------------
            //  -----------|           |           |           |           |           |           |           ||||           |    PGU    |           |     /     |     *     |     -     |           |-----------
            // |   FROW    |    tab    |           |           |           |           |           |___________||||___________|    PGD    |     7     |     8     |     9     |     +     |           |    LU     |
            // |____LD_____|    esc    |           |           |           |           |           |           ||||           |    HOME   |     4     |     5     |     6     |    ENT    |           |____LD_____|
            //             |   shift   |           |           |           |           |           |-----------||||-----------|    END    |     1     |     2     |     3     |    ENT    |           |
            //             |____win____|___________|___________|____alt____|____ctl____|____bsp____|____del____||||____alt____|____ent____|_____0_____|_____0_____|_____._____|___________|___________|
            bindings = <
                               &none       &none       &none      &none       &none       &none       &none          &none      &kp PG_UP      &none     &kp N8       &kp N9   &kp KP_MINUS   &none
                   &mo 1     &kp TAB       &none       &none      &none       &none       &none       &none          &none      &kp PG_DN   &kp KP_N7   &kp KP_N8    &kp KP_N9  &kp KP_PLUS   &none       &to 0
                   &none     &kp ESC       &none       &none      &none       &none       &none                                 &kp HOME    &kp KP_N4   &kp KP_N5    &kp KP_N6    &kp RET     &none       &none
                             &kp LSHFT     &none       &none      &none       &none       &none                                  &kp END    &kp KP_N1   &kp KP_N2    &kp KP_N3    &kp RET     &none
                             &kp LWIN      &none       &none     &kp LALT   &kp LCTRL     &kp BSPC    &kp DEL        &kp LALT    &kp RET    &kp KP_N0   &kp KP_N0    &kp KP_DOT    &none      &none
            >;
            display-name = "Keypad";
        };

        trans_template {
            //              -----------------------------------------------------------------------------------    -----------------------------------------------------------------------------------
            //  -----------|           |           |           |           |           |           |           ||||           |           |           |           |           |           |           |-----------
            // |    LU     |           |           |           |           |           |           |___________||||___________|           |           |           |           |           |           |    LU     |
            // |____LD_____|           |           |           |           |           |           |           ||||           |           |           |           |           |           |           |____LD_____|
            //             |           |           |           |           |           |           |-----------||||-----------|           |           |           |           |           |           |
            //             |___________|___________|___________|___________|___________|___________|___________||||___________|___________|___________|___________|___________|___________|___________|
            bindings = <
                               &trans      &trans      &trans     &trans      &trans      &trans      &trans         &trans       &trans      &trans      &trans      &trans      &trans      &trans
                  &trans       &trans      &trans      &trans     &trans      &trans      &trans      &trans         &trans       &trans      &trans      &trans      &trans      &trans      &trans      &trans
                  &trans       &trans      &trans      &trans     &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
                               &trans      &trans      &trans     &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans
                               &trans      &trans      &trans     &trans      &trans      &trans      &trans         &trans       &trans      &trans      &trans      &trans      &trans      &trans
            >;
            display-name = "Trans-Tilt";
        };

        none_template {
            //              -----------------------------------------------------------------------------------    -----------------------------------------------------------------------------------
            //  -----------|           |           |           |           |           |           |           ||||           |           |           |           |           |           |           |-----------
            // |    LU     |           |           |           |           |           |           |___________||||___________|           |           |           |           |           |           |    LU     |
            // |____LD_____|           |           |           |           |           |           |           ||||           |           |           |           |           |           |           |____LD_____|
            //             |           |           |           |           |           |           |-----------||||-----------|           |           |           |           |           |           |
            //             |___________|___________|___________|___________|___________|___________|___________||||___________|___________|___________|___________|___________|___________|___________|
            bindings = <
                               &none       &none       &none      &none       &none       &none       &none          &none        &none       &none       &none       &none       &none       &none
                  &none        &none       &none       &none      &none       &none       &none       &none          &none        &none       &none       &none       &none       &none       &none       &none
                  &none        &none       &none       &none      &none       &none       &none                                   &none       &none       &none       &none       &none       &none       &none
                               &none       &none       &none      &none       &none       &none                                   &none       &none       &none       &none       &none       &none
                               &none       &none       &none      &none       &none       &none       &none          &none        &none       &none       &none       &none       &none       &none
            >;
            display-name = "None-Tilt";
        };
        // @formatter:off
    };
 };